version: 2
jobs:
  # test-macos:
  #   macos:
  #     xcode: "9.3.0"
  #   working_directory: ~/macos-repo
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install Node.js
  #         command: curl -sSL https://install-node.now.sh/10 | sudo bash -s -- --yes
  #     - run:
  #         name: Installing dependencies
  #         command: yarn install
  #     - run:
  #         name: Build unit test binary
  #         command: yarn build-test-binary
  #     # - run:
  #     #     name: Linting
  #     #     command: yarn lint
  #     - run:
  #         name: Unit & integration tests
  #         command: yarn test
  test-linux:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Fetch upstream
          command: git remote add upstream git@github.com:zeit/ncc.git
      - run:
          name: Merge upstream
          command: git merge upstream/master master
      - run:
          name: Installing dependencies
          command: yarn install
      - run:
          name: Format with Prettier
          command: yarn format
      - run:
          name: Build unit test binary
          command: yarn build-test-binary
      # - run:
      #     name: Linting
      #     command: yarn lint
      - run:
          name: Unit & integration tests
          command: yarn test
      - run:
          name: Coverage
          command: bash <(curl -s https://codecov.io/bash)
workflows:
  version: 2
  test:
    jobs:
      - test-linux
      # - test-macos
